/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box; }
.center{
  text-align:center
}
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 100%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 100%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: Arial, sans-serif;
  color: white; 
  overflow:hidden;
  background:#000
  }
  .page,.mobile{
	  overflow:auto
  }


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }


/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 6.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}

/* Larger than tablet */
@media (min-width: 750px) {
  h1 { font-size: 8.0rem; }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  h1 { font-size: 10.0rem; }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}


p {
  margin-top: 0; }


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: white; 
  text-decoration:none}
a:hover {
  color: #ff0000; 
  text-decoration:none}


ul{
	margin:0;	
	padding:0
}


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }
  
/* Custom
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* -- Banner -- */

#banner{
	position:absolute;
	top:0;
	left:0;
	z-index:10000;
	width:100%;
	height:100%;
	background:url("../images/the-internet-saga.jpg") center center no-repeat;
	background-size:contain;
	background-color:white;	
	display:none
}

/* -- Mobile --*/


.list{
	text-align:center;
	padding-top:90px
}

.accordion .link {
	display: block;
	height: 60px;
	line-height:60px;
	border-top:2px solid white;
	display:inline-block;
	color:white;
	text-decoration: none;
	margin:0;
	width: 100%; 
    white-space: nowrap;
    font-size:16px;
    cursor:pointer
}
.accordion .link:last-child{
	 border-bottom:2px solid white
 }
.accordion .link:hover,.accordion div:target .link{
	 color:red
 }
 
.accordion div .content {
	display: none;
	margin: 0;
}

.accordion div:target .content {
	display: block;
}

.accordion > div {
	height: 60px;
	overflow: hidden;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.accordion > div:target {
	height: 800px;
}

.content{
	position:relative;
	height:100%;
	overflow:scroll !important; 
	-webkit-overflow-scrolling:touch !important;
}
.frame_content{
	position:absolute;
	width:100%;
	height:100%;
	z-index:997;
	top:0px;
	left:0;;
	border:0;
}

/* -- Pages -- */

.page{
	background:red
}
.page .container{
	text-align:center
}
.page-title{
	display:inline-block;
	margin:20px auto;
	text-align:center;
	color:#fff;
	font-size:32px;
	text-transform: uppercase;
}

.text{
	text-align:left;
	width:60%;
	margin:60px auto 120px auto;
}
.centered{
	text-align:center
}
.text p{
	font-weight:bold;
	font-size:15px;
	line-height:1.5;
	color:#fff;
	letter-spacing:1px;
	margin:0
}
.text p .ordinal {
  font-size:smaller;
  vertical-align:super;
}
.text p a{
	color:#fff;
	text-decoration:none;
	border-bottom:1px solid #fff
}
.text p::first-letter { 
   padding-left: 18px ;
   text-indent: -18px ;
}
.text p.noindent::first-letter { 
   padding-left: 0 ;
   text-indent:0 ;
}
.text ul{
	list-style:none;
	padding:0;
	margin:0
}
.text li{
	font-weight:bold;
	font-size:15px;
	line-height:1.5;
	color:#fff;
	margin-bottom:1em;
	letter-spacing:1px;
}
.text li.sep{
	margin-top:2em
}

.text li a{
	color:#fff;
	text-decoration:none;
	border-bottom:1px solid #fff
}
.text img{
	max-width:100%;
	height:auto
}

/* -- Clock --*/

.an_clock{
	width:90px;
	height:90px;
	position:fixed;
	top:0;
	left:0;
	z-index:9999;
	
}
#min, #sec { 
	stroke-width: 1px;
	stroke: white;
}
#min { 
	stroke-width: 3px;
}
#face  { 
	fill: white;
}
.an_clock.open #min,.an_clock.open #sec  { 
	stroke: white !important;
}
.an_clock.open #face  { 
	fill: white !important;
}

.an_clock.link #min,.an_clock.link #sec  { 
	stroke: red;
}
.an_clock.link #face  { 
	fill: red;
}

.page .an_clock #min,.page .an_clock #sec  { 
	stroke: white;
}
.page .an_clock #face  { 
	fill: white;
}

/* -- Nav Menu --*/

.nav-icon {
  position:fixed;
  right:30px;
  top:36px;
  z-index:9999;
  width: 30px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.nav-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: white;
  border-radius: 0px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.nav-icon.open span {
  background: #fff !important;
}

.nav-icon.link span {
  background: red;
}

.page .nav-icon span {
  background: #fff;
}

.nav-icon span:nth-child(1) {
  top: 0px;
}

.nav-icon span:nth-child(2),.nav-icon span:nth-child(3) {
  top: 7px;
}

.nav-icon span:nth-child(4) {
  top: 14px;
}

.nav-icon.open span:nth-child(1) {
  top: 14px;
  width: 0%;
  left: 50%;
}

.nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/* -- Overlay Menu --*/


.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: red;
	z-index:998
}


.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	font-size: 54px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	height: 20%;
	height: calc(100% / 4);
	min-height: 54px;
}

.overlay ul li a {
	display: block;
	color: #fff;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
	text-transform:uppercase;
	font-size:32px
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #fff;
}


.overlay-hugeinc {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-hugeinc.open {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.overlay-hugeinc nav {
	-webkit-perspective: 1200px;
	perspective: 1200px;
}

.overlay-hugeinc nav ul {
	opacity: 0.4;
	-webkit-transform: translateY(-25%) rotateX(35deg);
	transform: translateY(-25%) rotateX(35deg);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

.overlay-hugeinc.open nav ul {
	opacity: 1;
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

.overlay-hugeinc.close nav ul {
	-webkit-transform: translateY(25%) rotateX(-35deg);
	transform: translateY(25%) rotateX(-35deg);
}

/* -- Screen Saver --*/

.saga_saver a{
	color:white;
	text-decoration: none;
	padding:0px;
	margin:0;
    display: block;
    width: auto;   
    position: absolute;
    white-space: nowrap;
    text-align:left;
    font-size:12px;
    animation-timing-function:linear;
	animation-delay:0s;
	animation-iteration-count:infinite;
	animation-direction:alternate;
    animation-play-state: running;

 }
 

#el_01{ animation-name: moveX01, moveY01; }
#el_02{ animation-name: moveX02, moveY02; }
#el_03{ animation-name: moveX03, moveY03; }
#el_04{ animation-name: moveX04, moveY04; }
#el_05{ animation-name: moveX05, moveY05; }
#el_06{ animation-name: moveX06, moveY06; }
#el_07{ animation-name: moveX07, moveY07; }
#el_08{ animation-name: moveX08, moveY08; }
#el_09{ animation-name: moveX09, moveY09; }
#el_10{ animation-name: moveX10, moveY10; }
#el_11{ animation-name: moveX11, moveY11; }
#el_12{ animation-name: moveX12, moveY12; }
#el_13{ animation-name: moveX13, moveY13; }
#el_14{ animation-name: moveX14, moveY14; }
#el_15{ animation-name: moveX15, moveY15; }
#el_16{ animation-name: moveX16, moveY16; }
#el_17{ animation-name: moveX17, moveY17; }
#el_18{ animation-name: moveX18, moveY18; }
#el_19{ animation-name: moveX19, moveY19; }
#el_20{ animation-name: moveX20, moveY20; }
#el_21{ animation-name: moveX21, moveY21; }
#el_22{ animation-name: moveX22, moveY22; }
#el_23{ animation-name: moveX23, moveY23; }
#el_24{ animation-name: moveX24, moveY24; }
#el_25{ animation-name: moveX25, moveY25; }
#el_26{ animation-name: moveX26, moveY26; }
#el_27{ animation-name: moveX27, moveY27; }
#el_28{ animation-name: moveX28, moveY28; }
#el_29{ animation-name: moveX29, moveY29; }
#el_30{ animation-name: moveX30, moveY30; }
#el_31{ animation-name: moveX31, moveY31; }
#el_32{ animation-name: moveX32, moveY32; }
#el_33{ animation-name: moveX33, moveY33; }
#el_34{ animation-name: moveX34, moveY34; }
#el_35{ animation-name: moveX35, moveY35; }
#el_36{ animation-name: moveX36, moveY36; }
#el_37{ animation-name: moveX37, moveY37; }
#el_38{ animation-name: moveX38, moveY38; }
#el_39{ animation-name: moveX39, moveY39; }
#el_40{ animation-name: moveX40, moveY40; }
#el_41{ animation-name: moveX41, moveY41; }
#el_42{ animation-name: moveX42, moveY42; }
#el_43{ animation-name: moveX43, moveY43; }
#el_44{ animation-name: moveX44, moveY44; }
#el_45{ animation-name: moveX45, moveY45; }
#el_46{ animation-name: moveX46, moveY46; }
#el_47{ animation-name: moveX47, moveY47; }
#el_48{ animation-name: moveX48, moveY48; }
#el_49{ animation-name: moveX49, moveY49; }
#el_50{ animation-name: moveX50, moveY50; }
#el_51{ animation-name: moveX51, moveY51; }
#el_52{ animation-name: moveX52, moveY52; }
#el_53{ animation-name: moveX53, moveY53; }
#el_54{ animation-name: moveX54, moveY54; }
#el_55{ animation-name: moveX55, moveY55; }
#el_56{ animation-name: moveX56, moveY56; }
#el_57{ animation-name: moveX57, moveY57; }
#el_58{ animation-name: moveX58, moveY58; }
#el_59{ animation-name: moveX59, moveY59; }
#el_60{ animation-name: moveX60, moveY60; }
#el_61{ animation-name: moveX61, moveY61; }
#el_62{ animation-name: moveX62, moveY62; }
#el_63{ animation-name: moveX63, moveY63; }
#el_64{ animation-name: moveX64, moveY64; }
#el_65{ animation-name: moveX65, moveY65; }
#el_66{ animation-name: moveX66, moveY66; }
#el_67{ animation-name: moveX67, moveY67; }
#el_68{ animation-name: moveX68, moveY68; }
#el_69{ animation-name: moveX69, moveY69; }

.saga_saver a:hover{
	color:red;
	cursor:pointer;
	animation-play-state: paused;
}

.frame{
	position:absolute;
	width:100%;
	height:100%;
	z-index:997;
	top:0px;
	left:0;
	display:none
}
.frame #frame_content{
	position:fixed;
	z-index:996;
}
.frame div{
	position:fixed;
	z-index:995;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:white
}



.social{
	position:fixed;
	right:20px;
	bottom:20px;
	z-index:999999;
	padding:0;
	list-style:none
}
.social li{
	display:inline-block;
	margin:0
}
.social a{
	display:block;
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
	width:36px;
	height:36px;
	text-indent:-9999em
}
.social a:hover {
	opacity: .7;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}


.social a.fb{
	background:url("../images/icon_facebook_w.png") no-repeat 50% 50%;
	background-size:contain;
	width:22px
}
.social a.is{
	background:url("../images/icon_instagram_w.png") no-repeat 50% 50%;
	background-size:contain;
}
.social a.tw{
	background:url("../images/icon_twitter_w.png") no-repeat 50% 50%;
	background-size:contain;
}
.social.link a.fb{
	background:url("../images/icon_facebook_r.png") no-repeat 50% 50%;
	background-size:contain;

}
.social.link a.is{
	background:url("../images/icon_instagram_r.png") no-repeat 50% 50%;
	background-size:contain;

}
.social.link a.tw{
	background:url("../images/icon_twitter_r.png") no-repeat 50% 50%;
	background-size:contain;

}
.social.open a.fb{
	background:url("../images/icon_facebook_w.png") no-repeat 50% 50%;
	background-size:contain;

}
.social.open a.is{
	background:url("../images/icon_instagram_w.png") no-repeat 50% 50%;
	background-size:contain;

}
.social.open a.tw{
	background:url("../images/icon_twitter_w.png") no-repeat 50% 50%;
	background-size:contain;

}